<%# This partial form is used to render the form for both the new and edit actions. %>
<%# The form builder is used to generate the form fields. %>
<%= form_with(model: movie, local: true) do |form| %>
  <%# Display an error message if there are any errors for the movie object. %>
  <%= render "shared/errors", object: movie %>

  <%# Display the form fields for the movie object. %>
  <div>
    <%= form.label :title %>
      <%= form.text_field :title, autofocus: true %>
  </div>
  <div>
    <%= form.label :description %>
    <%= form.text_area :description, rows: 10 %>
  </div>
  <div>
    <%= form.label :rating %>
    <%# Uses a selector to allow the user to pick a rating. %>
    <%= form.select :rating, Movie::RATINGS, prompt: "Pick one" %>
  </div>
  <div>
    <%= form.label :released_on %>
    <%= form.date_select :released_on, {}, {class: "date"} %>
    <%# Alternately, one can also use the date_field form helper to create a date input field. %>
    <%# form.date_field :released_on %>
  </div>
  <div>
    <%= form.label :director %>
    <%= form.text_field :director %>
  </div>
  <div>
    <%= form.label :duration %>
    <%= form.text_field :duration %>
  </div>
  <div>
    <%= form.label :image_file_name %>
    <%= form.text_field :image_file_name %>
  </div>
  <div>
    <%= form.label :total_gross %>
    <%= form.text_field :total_gross %>
  </div>
  <div>
    <%# The form builder is responsible for generating the submit button with a proper caption. %>
    <%# For a new record, the caption is "Create Movie". %>
    <%# For an existing record, the caption is "Update Movie". %>
    <%= form.submit %>
  </div>
  <% end %>