<h1>Movies</h1>

<ul>
<%# Iterating over each movie in the @movies instance variable %>
<% @movies.each do |movie| %>
  <li>
    <%# Display the movie title, rating, and total gross %>
    <strong><%= movie.title %></strong> (<%= movie.rating %>):
    <%= number_to_currency(movie.total_gross, precision: 0) %>
  </li>
  <%# Display the movie description and release date %>
  <p>
    <%= movie.description %>
  </p>
  <p>
    <%= movie.released_on %>
  </p>
<% end %>
</ul>