<h2>Movies</h2>
<ul>
<%# Iterating over each movie in the @movies instance variable %>
<% @movies.each do |movie| %>
  <li>
    <%# Display the movie title, rating, and year released %>
    <strong><%= movie.title %></strong> (<%= movie.rating %>):
    <%= year_of(movie) %>
  </li>
  <%# Display the movie description and total gross %>
  <p>
    <%= truncate(movie.description, length: 40, separator: ' ') %>
  </p>
  <p>
    <%= total_gross(movie) %>
  </p>
<% end %>
</ul>