<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Flix" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%# Displays the header at the top of the page %>
    <%= render "layouts/header" %>

    <%# Displays the main content of the page %>
    <div class="content">
      <%= render "shared/flash_messages" %>
      <%= yield %>
    </div>
    
    <%# Displays the footer at the bottom of the page %>
    <%= render "layouts/footer" %>
  </body>
</html>
